@charset "utf-8";
/*全体*/
.wrapper{
  max-width: 700px;
  margin: 0 auto;
  color: #666;
}
#header,#calc{
  box-sizing: border-box;
  text-align: center;
}
/*ヘッダー*/
#header {
  font-size: 24px;  
  padding: 1rem;
}
/*テキスト*/
input{
  box-sizing: border-box;
  width: 42%;
  height: 3.5rem;
  font-size: 1.5rem;
  text-align: right;
}
/*ボタン関係*/
button{
  font-size: 18px;
  width: 10%;
  height: 3.5rem;
  color: rgb(31, 29, 29);
  vertical-align: middle;
  border-color: rgb(255, 255, 255);
}
button:hover{
  background-color: rgb(139, 118, 118);
}

#equal{
    width: 42.3%;
}

/*電卓の位置*/
.wrapper {
  max-width: 700px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
